#accessoire.active {
    background-color: rgba(12, 100, 231, 0.685);
    color: white;
    border-radius: 5px;
   
}

#accessoire.active:after {
  background-color: rgba(12, 100, 231, 0.685);
  color: white;
  border-radius: 5px;
}

.recapAccessoires{
  width: 80%;
  height: auto;
  margin: 10px;
}

.recapAccessoires .total {
  font-size: 50px;
}

.recapAccessoires h1 {
  margin-bottom: 5%;
}